/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/07/2015, 17:02:51
    Author     : Bruno
*/

body {
    background-color: gray;
    text-align: center;
    font-family: Arial;
}

#mensagem{
    text-color: red;
}

body div{
    background-color: lightgray;
    width: 60%;
    margin: 0 auto;
    border-radius: 25px;
}
#pag_visualizar{
    width: 65%;
}
#pag_busca{
    width: 65%;
}
#tabela{
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

#res_busca {
    width:100%;
    margin-left: auto;
    margin-right: auto;
}


